* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url(Nunito/NunitoSans-Black.ttf);
    src: url(Nunito/NunitoSans-Regular.ttf);
    src: url(Nunito/NunitoSans-SemiBold.ttf);
}


.body {
    width: 100vw;
    font-family: 'Nunito';
}

.cabecalho {
    width: 100%;
    height: 7vh;
    background: rgb(242, 106, 33);

}


.cabecalho-nav {
    padding: 5px;
    float: right;
    color: white;
    margin-right: 20px;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entrar {
    padding: 5px;
    color: white;
}

.registrar {
    padding: 5px;
    color: white;
}

.navegador-principal {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menu-ancora {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Nunito';


}


a:hover{
    text-decoration: none;
    font-family: 'Nunito';
}

.p-coletores {
    font-family: 'Nunito';
    color: white;
}

.p-colaboradores {
    font-family: 'Nunito';
    color: white
}

.p-projetos {
    font-family: 'Nunito';
    color: white;
}

.links-inicio{
    text-decoration: none;
    color: rgb(75, 39, 112);
    box-sizing: content-box;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
}

.links-inicio:hover .inicio{
    color:white;
}

.links-inicio:hover{
    background-color: rgb(75, 39, 112);
}

.links-descartes{
    text-decoration: none;
    color: rgb(75, 39, 112);
    box-sizing: content-box;
    height: 100%;
    display:flex;
    align-items: center;
    width: 30vw;
    justify-content: space-around;
}

.links-descartes:hover .o-descartes{
    color:white;
}

.links-descartes:hover{
    background-color: rgb(75, 39, 112);
}

.links-equipe{ 
    text-decoration: none;
    color: rgb(75, 39, 112);
    box-sizing: content-box;
    height: 100%;
    display:flex;
    width: 20vw;
    align-items: center;
    justify-content: space-around;
}

.links-equipe:hover .equipe{
    color: white;
}

.links-equipe:hover {
    background-color: rgb(75, 39, 112);
}

.links-manual{
    text-decoration: none;
    color: rgb(75, 39, 112);
    text-align: center;
    height: 100%;
    width: 35vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.links-manual:hover .manual{
    color:white;
}

.links-manual:hover{
    background-color: rgb(75, 39, 112);
}






.logo {
    width: 25vw;
    padding: 5px 40px 20px 60px;
}

#inicio{
    color: gray;
    background-image: url(./img/img.jpg);
    background-size: 100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.conteudo-inicio {
    padding-top: 80px;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
}

.busca {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pesquisa {
    display: flex;
    flex-wrap: nowrap;
    height: 0px;
}

.grupo {
    height: 5px;
    width: 450px;
}

.icone-busca {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 39, 112);
    height: 40px;
    width: 100px;
}

.buscar {
    width: 30px;
}

.busca-residuo {
    width: 250px;
    height: 40px;
}

.busca-bairros {
    width: 250px;
    height: 40px;
}

.espaco-empresa-coletor{
    margin-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.empresa{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 46%;
    height: 100%;
    background-color: white;
}

.empresas-h1{
    width: 100%;
    text-align: center;
}

.empresas-texto{
    font-family: 'Nunito';
    width: 70%;
    text-align: center;
    font-size: 23px;
}

.saiba-mais{
    text-align: center;
    height: 40px;
    width: 150px;
    background-color: rgb(75, 39, 112);
}

.coletor {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 46%;
    height: 100%;
    background-color: white;
}

.coletor-h1{
    width: 100%;
    text-align: center;
}

.coletor-texto{
    font-family: 'Nunito';
    width: 80%;
    text-align: center;
    font-size: 1000px;
}

.acessar{
    color: white;
    text-align: center;
    height: 40px;
    width: 200px;
    background-color: rgb(75, 39, 112);
    padding: 10px;
}

.info{
    width: 100%;
    height: 220px;
    background-color: rgb(242, 106, 33);
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.info-colaboradores {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.img-colaboradores {
    margin-top: 25px;
}

.info-projetos {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.info-coletores {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    justify-content: center;
}

#o-descartes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 170vh;
    background-color: rgb(242, 106, 33);
}

.nossos-servicos{
    padding: 50px 50px 50px 50px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.texto-nosso-servico {
    font-family: 'Nunito';
    width: 20vw;
    font-size: 13px;
}

.nossos-servicos h1 {
    font-size: 40px; 
    font-family: 'Nunito';  
}

.nosso-servico {
    font-style: italic;
    width: 100%;
    text-align: center;
}

.conectividade{
    padding: 10px 40px 10px 40px;
    box-shadow: gray 5px 5px 5px 5px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: flex-start;
    text-align: center;
    width: 20%;
}

.conectividade h1 {   
    color: rgb(36, 186, 171);
}

.informacao{
    box-shadow: gray 5px 5px 5px 5px; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.informacao h1 { 
    color: rgb(36, 186, 171);
}

.reutilizacao {
    box-shadow: gray 5px 5px 5px 5px; 
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.reutilizacao h1 {
    color: rgb(36, 186, 171);
}

.visao-solucao{
    background-image: url(./img/img2.jpg);
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}



.visao{
    padding: 10px 10px 10px 10px;
    height: 70%;
    background-color: white;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.nossa-visao{
    color: rgb(36, 186, 171);
    font-family: 'Nunito';
    margin-top: 10px;
    width: 100%;
}

.p-visao{
    width: 70%;
    margin-top: 10px;
    font-family: 'Nunito';
}

.missao{
    height: 70%;
    padding: 30px 10px 10px 10px;
    background-color: white;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-family: 'Nunito';
}
.nossa-missao {
    color: rgb(36, 186, 171);
    font-family: 'Nunito';
    margin-top: 10px;
    width: 100%;
}

.p-missao{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    font-family: 'Nunito';
}

#nossa-equipe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    background-color: rgb(242, 106, 33);
    padding-top: 30px;
}

.h1-equipe{
    margin-top: 20px;
    font-style: italic;
    color: white;
    margin-bottom: 50px;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.imgs-equipe{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.membros {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: 'Nunito';
}

.img-shelida {
    width: 150px;
    height: 150px;
}

.p-shelida {
    width: 150px;
    height: 150px;
}

.img-matt {
    width: 150px;
    height: 150px;
}

.img-isys {
    width: 150px;
    height: 150px;
}

.img-ju {
    width: 150px;
    height: 150px;
}

.img-thais {
    width: 150px;
    height: 150px;
}

.img-ale {
    width: 150px;
    height: 150px;
}

.fundo_auth {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(189, 184, 184);
}

.auth {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}



.fale-conosco {
    color: rgb(248,203, 79);
    padding: 20px 20px 00px 20px;
    height: 70vh;
    font-family: 'Nunito';
    
}

.h1-fale-conosco {
    font-size: 45px;
    width: 100%;
    text-align: center;
}

.contatos1 {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.contatos {
    width: 50%;
}

.p-nosso-numero {
    font-size: 30px;
}

.nosso-email {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nosso-email-info {
    margin-left: 20px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.h1-nosso-email {
    width: 100%;
}

.nosso-emaill {
    width: 65px;
}

.mande-email {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}

.h1-mande-email {
    width: 100%;
}

.nome-mande-email {
    margin-top: 10px;
    width: 100%;
}

.email-mande-email {
    width: 100%;
}

.mensagem-mande-email {
    width: 100%;
}


.nosso-numero {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.img-nosso-numero{
    width: 65px;
}

.nosso-numero-info {
    margin-left: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.botao-mande-email {
    margin-top: 10px;
    background-color: rgb(248,203, 79);
}

.formulario {
    width: 80%;
}

::placeholder {
    font-family: 'Nunito';
    font-size: 20px;
}



.login {
    background-color: white;
    width: 25vw;
    height: 45vh;
}

.login div {
    margin-left: 3vw;
    margin-top: 3%;
    font-size: 20px;
} 

.login h2 {
    margin-top: 2vh;
    text-align: center;
}

.login input {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.registro {
    width: 25vw;
    height: 25vw;
    background-color: blue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape {
    width: 100%;
    height: 10.5vh;
    background-color: gray;
}

.button_login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

.button_registro {
    background-color: rgb(216, 22, 22);
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 90%;
  }

  button:hover {
    opacity: 0.8;
  }



